body > header {
  h1 {
    margin-top: 0;
  }
  nav {
    ol {
      padding: 0;
      margin: 5px 0;
      li {
        float: left;
        padding-left: 4px;
        margin: 0;
        list-style-type: none;
        a {
          color: $linkColor;
          text-decoration: none;
          font-family: $fontFamilySerif;
        }
        a:visited {
          color: $linkColor;
        }
      }
      li:after {
        content: "|";
      }
      li:last-of-type:after {
        content: "";
      }
    }
  }
}

article {
  header {
    padding: 20px 0;
  }


  img {
    max-width: 100%;
  }

  img.small {
    max-width: 300px;
    margin: 0 20px 20px 0;
  }

  img.big {
    max-width: 668px;
  }

  figure.image {
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
}

section, .clear {
  clear: both;
}

.meta {
  margin: 0 0 10px 0;
  font-style: italic;
  font-size: .75em;
}
.left {
  float: left;
}
.right {
  float: right;
}

section.comments {
  margin-top: 60px;
  border-top: 1px solid #eee;

  article {
    font-size: 16px;
    margin: 30px 0;
    header {
      line-height: 1em;
      padding: 0;
      margin: 0 0 10px 0;
      h1 {
        margin: 0;
        font-size: 18px;
      }
      time {
        font-style: italic;
        font-size: 14px;
      }
    }
    header, .body {
      margin-left: 80px;
    }
    .body p {
      margin: 10px 0;
    }
    aside {
      float: left;
    }
  }
}

form.simple_form {
  margin-top: 20px;
  * {
    box-sizing: border-box;
  }
  .buttons {
    margin: 15px 0;
  }
  .form-group {
    margin: 0 10px 15px 0;
    label {
      display: block;
      font-family: $fontFamilySansSerif;
      font-weight: 500;
    }
    textarea.form-control {
      height: auto;
    }
  }
  .help-block {
    font-size: 12px;
  }
  .has-error .help-block {
    color: red;
  }
  .form-control, .btn {
    display: block;
    width: 100%;
    height: 34px;
    border: 1px solid #bbb;
    font-size: 14px;
    background: #fff;
    padding: 6px 12px;
  }
  .btn {
    height: 36px;
    border: none;
    background: #3a7cbe;
    color: #fff;
    font-weight: bold;
  }
}

body > footer {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  h1 {
    font-size: 1em;
    margin: 20px 0 10px 0;
  }
  ul, li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
  section.bottom {
    font-size: 12px;
    img.bold-logo {
      width: 39px;
      height: 10px;
      margin-left: 5px;
    }
  }
  .third {
    padding-right: 20px;
  }
}

footer.footnotes {
  border-top: 1px solid #eee;
  font-size: 75%;
  line-height: 1.25em;
}

.footnotes a, sup a {
  text-decoration: none;
}

figure.code {
  figcaption {
    text-align: center;
    font-size: 13px;
    line-height: 2em;
    text-shadow: 0px 1px 0px #CBCCCC;
    color: #474747;
    font-weight: normal;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    @include gradient(#eeeeee, #a0a0a0);
    border-width: 1px 1px 0px;
    border-style: solid solid none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #CBCBCB #A5A5A5 -moz-use-text-color;
  }
}

.flash {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.flash.notice {
  color: #3C763D;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}
.flash.info {
  color: #31708F;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}
.flash.warning{
  color: #8A6D3B;
  background-color: #FCF8E3;
  border-color: #FAEBCC;
}
.flash.error {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}
